// Theme Information
//--------------------------------------------//
$theme_name: "G & Co. Landing Page";
$theme_uri: "#";
$theme_description: "Landing Page Theme for G & Co.";
$theme_version: "1.0";
$theme_author: "The Creative Foundation";
$theme_author_uri: "#";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

$f-stack-sans: 'Open Sans', sans-serif;

$c-white: #fff;
$c-teal: #137070;
$c-black: #2b1d12;