
html{
	min-height: 100%;
	position: relative;
}
body{
	background: url('images/bg_lp-building.jpg') no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	height: 100%;
}
label{
	color: #fff;
}

.container{
	@include container(1140px);
	padding-left: 40px;
	padding-right: 40px;
	height: 100%;
}