body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 18px;
	font-weight: 200;
	font-family: $f-stack-sans;
}

p{
	color: $c-white;
	letter-spacing: .75px;
	line-height: 1.75em;
}


h1, h2, h3{
	font-family: $f-stack-sans;
	font-weight: 600;
	color: $c-white;
	font-size: 1.9em;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	cursor: default;
}

h1, h2{
	letter-spacing: .1em;
}

h3{
	text-transform: none;
	font-size: 1.5em;
	letter-spacing: .095em;
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: $c-black;
}

:-moz-placeholder { /* Firefox 18- */
  color: $c-black;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $c-black;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $c-black;
}

::-ms-input-placeholder { /* Edge */
  color: $c-black;
}

:placeholder-shown { /* Standard one last! */
  color: $c-black;
}
